{% extends 'layout.html'%}


{%block content%}
<style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }
      
      html {
        box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
      }
      
      .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
      }
      
      .container {
        padding: 0 16px;
      }
      
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .title {
        color: grey;
      }
      
      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }
      
      .button:hover {
        background-color: #555;
      }
      
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }
      </style>
<!-- https://www.w3schools.com/howto/howto_css_about_page.asp -->
<div class="about-section">
      <h1>INF 142 oblig 1</h1>
      <p>We have made a vesrion that uses python with flask, where the server is coded in python and the client in js.</p>
      <p>To run the project, open a tab with Confession Room and choose Advisor or Advisee, then do the same thing again in another tab of Confession Room with the opposite role.</p>
    </div>
    
    <h2 style="text-align:center">Gruppen</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../static/img/magnus.png" alt="Magnus" style="width:20%">
          <div class="container">
            <h2>Magnus Vestvik</h2>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../static/img/peder.png" alt="Peder" style="width:20%">
          <div class="container">
            <h2>Peder Spooren</h2>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="../static/img/marius.png" alt="Marius" style="width:20%">
          <div class="container">
            <h2>Marius Aasebø</h2>
          </div>
        </div>
      </div>
    </div>
{%endblock%}