
{% extends 'layout.html'%}<!DOCTYPE html>
{%block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <canvas id = "confessionScreen" width="500" height="500"></canvas>
    <form>
      <select id = "adviseeOrAdvisor">
        <option value="" disabled selected>Select Advisor or Advisee</option>
        <option>Advisor</option>
        <option>Advisee</option>
      </select>
      <input type ="text" id = "messageField" placeholder="write a message">
      <button id="submitButton">Submit</button>
    </form>
    <script src ="../static/js/confession-room-view.js"></script>
    <script src ="../static/js/confession-room-controller.js"></script>
    <script src = "../static/js/confession-room-client.js"></script>
</body>
</html>
{%endblock content%} 